* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  text-decoration: nonw;
  margin: 0px;
  padding: opx;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
