* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: 0px auto;
  text-align: center;
}

/* Sheared Style */
.text_color {
  color: #3a3a3a;
}

/* Navbar Section Style */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  text-align: center;
  padding: 0px 120px;
  padding-top: 87px;
}

.nav_icon {
  display: none;
}

.nav_title h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
}

.menu_page {
  display: flex;
  align-items: center;
}

.menu_page ul {
  display: flex;
  list-style: none;
  gap: 34px;
}

.menu_page ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #3a3a3a;
}

.menu_page_icon {
  font-size: 1.5rem;
  padding: 0px 34px;
}

.menu_icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}
